@import url('./reset.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.calculadora-ir {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 400px;
    width: 300px;
    gap: 2rem;
    background-color: orange;
    border: 5px solid;
    border-radius: 16px;
    animation: border-color 3s infinite;
}

.campo-input {
    display: flex;
    flex-direction: column;
}

.btn {
    animation: change-color 2s infinite;
    background-color: rgb(188, 26, 182);
    border: none;
    padding: 8px;
    border-radius: 8px;
}


@keyframes change-color {
    0% {
        background-color: rgb(188, 26, 182);

    }

    100% {
        background-color: rgb(28, 190, 199);
        transform: scale(1.1);
    }
}

@keyframes border-color {
    0% {
        border-color: rgb(188, 26, 182);
    }

    100% {
        border-color: rgb(28, 190, 199);
    }
}