.conteudo-principal {
    width: 100%;
    height: 100%;
    /* background-color: rgb(159, 4, 4); */
    display: flex;
}

.conteudo-imagem {
    width: 50%;
    height: 100%;
    background-color: #005060;
    border-top-right-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-imagem img{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.conteudo-imagem p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-top: 20px; */
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.conteudo-formulario {
        width: 50%;
        height: 100%;
        background-color: #00b4ba;
        border-bottom-left-radius: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
    
}

input, button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 6px;
}

.conteudo-formulario button {
    cursor: pointer;
    background: linear-gradient(#ffacf4, #78a7fd);
    color: white;
    transition: ease .5s;
}

.conteudo-formulario button:hover {
    background: linear-gradient(#78a7fd, #ffacf4);
    width: 205px;
    height: 35px0;
}